$accent-color: #e48;

body {
     font: 14px / 1.5 "Open Sans", "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif;
     padding: 1em;
}

.radio-group {
     padding: 1em;
     
     label {
          display: block;
          padding: .5em;
          cursor: pointer;
          
          > span:before {
               content: "";
               display: inline-block;
               vertical-align: -.25em;
               height: 1em;
               width: 1em;
               border-radius: 50%;
               border: 2px solid rgba(0, 0, 0, 0.5);
               margin-right: .5em;
          }
          
          > input:checked + span:before {
               border-color: $accent-color;
               background-image: radial-gradient(
                                   circle closest-side,
                                   $accent-color 0%,
                                   $accent-color 50%,
                                   transparent 50%,
                                   transparent 100%);
          }
     
          > input:disabled + span { opacity: .5; }
          
          > input:disabled:checked + span:before {
               background-image: radial-gradient(
                                   circle closest-side,
                                   rgba(0, 0, 0, 0.5) 0%,
                                   rgba(0, 0, 0, 0.5) 50%,
                                   transparent 50%,
                                   transparent 100%);
          }
          
          > input { display: none; }
     }
}

.toggle-group {
     padding: 1em;
     
     &:before, &:after {
          content: "";
          display: table;
     }
     
     &:after { clear: both; }
     
     label {
          float: left;
          cursor: pointer;
          
          > span {
               padding: .5em 1em;
               background-color: #fff;
               box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.12), 0 1.5px 6px rgba(0, 0, 0, 0.06);
               
               &:focus, &:hover { color: $accent-color; }
          }
               
          &:not(:last-of-type) > span { border-right: 0; }
               
          &:first-of-type > span { border-radius: 2px 0 0 2px; }
               
          &:last-of-type > span { border-radius: 0 2px 2px 0; }
          
          > input:checked + span {
               background-color: $accent-color;
               color: white;
               font-weight: bold;
          }
          
          > input { display: none; }
     }
}