/*
  Document
*/

html {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background-color: #f8f8f8;
    color: #3d3d3d;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-size: 1rem;
  }
  
  /*
    Form
  */
  
  .form {
    & > div {
      & ~ div {
        margin-top: 20px;
      }
      &.is-hidden {
        display: none;
      }
    }
    &-label {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 0.875rem;
      font-weight: 700;
    }
    &-control {
      display: block;
      width: 100%;
      padding: 10px;
      font: 0.875rem/1.5 sans-serif;
      color: #333;
      background-color: #fff;
      border: 1px solid #bbb;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  
  /*
    Contact Form
  */
  
  .contact-form {
    width: 100%;
    max-width: 568px;
    padding: 40px;
    background-color: #fefefe;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    
    &--loading {
      opacity: 0.5;
      pointer-events: none;
    }
    &--errors {}
    &--sent {
      & > div ~ div {
        margin: 0;
      }
    }
  }
  
  /*
    Button
  */
  
  .button {
    appearance: none;
    padding: 5px 10px;
    font: 0.875rem/1.5 sans-serif;
    background-color: #ddd;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  
  // $form-border-colour: #c3c3c3;
  // $form-border-radius: 5px;
  // $form-transition-duration: 0.5s;
  // $form-transition-timing: cubic-bezier(0.25, 0.75, 0.25, 1);
  
  // /*
  //   Document
  // */
  
  // html {
  //   font-size: 100%;
  //   font-family: sans-serif;
  // }
  
  // body {
  //   width: 100%;
  //   min-height: 100vh;
  //   margin: 0;
    
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
    
  //   background-image: radial-gradient(#fff 0%, #eee 100%);
  //   color: #333;
  // }
  
  // .container {
  //   width: 100%;
  //   max-width: 720px;
  //   padding: 20px;
  // }
    
  // h1,
  // p {
  //   text-align: center;
  // }
  
  // form {
  //   &[data-state] {
  //     position: relative;
  
  //     & > * {
  //       transition: all $form-transition-duration $form-transition-timing;
  //     }
      
  //     .sent {
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, 50%);
  //       opacity: 0;
  //     }
  
  //   }
  
  //   &[data-state="sending"] {
  //     pointer-events: none;
  //     user-select: none;
      
  //     & > div {
  //       opacity: 0.5;
  //       transition-duration: 0s;
  //     }
  
  //     .sent {
  //       opacity: 0;
  //     }
  //   }
  
  //   &[data-state="sent"] {
  //     pointer-events: none;
  //     user-select: none;
  
  //     & > * {
  //       opacity: 0;
  //     }
      
  //     .sent {
  //       transform: translate(-50%, -50%);
  //       opacity: 1;
  //     }
  
  //   }
  
  //   &[data-state="error"] {}
    
  //   & > div {
  //     margin-bottom: 1rem;
  //   }
  // }